.App {
  text-align: center;
  background: url('images/bg-image.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ui {
  font-family: sans-serif;
}

.ui.main.container{
  margin-top: 3em;
}

.ui.aboutus.container {
  margin-top: 5em;
  width: fit-content;
  background-color: red;
}